@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/Content/candygirl.gif" width="500" height="500"/>

<p >We are excited you want to learn more about us! Unfortunately we don't have much information to tell you because right now we are still a theoretical coffee shop... Come back in a couple years ;)</p>
