
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>
<h3>@ViewBag.Message @ViewBag.FavCoffee. Enjoy!</h3>
<h3>Would you like to buy another?</h3>
<a href="/Home/Cart" class="btn btn-danger btn-lg">Add to Cart</a>
<h3>Would you like to clear your cart?</h3>
<a href="/Home/ClearCart" class="btn btn-danger btn-lg">Clear Cart</a>

