
<h3>@ViewBag.Message</h3>

<address>
    Go Away Dr.<br />
    Fakeville, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:IacceptPaypal@hotmail.com">IacceptPaypal@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:GimmeDatGreen@netscape.com">GimmeDatGreen@netscape.com</a><br />
    <strong>LimeWire:</strong> <a href="mailto:Limewire.come/DopeBoiMajique">Limewire.come/DopeBoiMajique</a>
</address>
<img src="~/Content/liljohn.gif"/>